<!doctype html>
<html>

<head>
  <title>Spotify Login</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/Spotify.css') }}">
</head>

<body style="background-color: black;">

  <body>

    <div class="vertical-align-items">
      <div class="container" style="align-items: center; text-align: center;">
        <img src="{{ url_for('static',filename='styles/logo_spotify.png') }}" alt="Spotify Logo" width="80px"
          height="auto">
        <h1 class="text-center" style="color: #1ED760; font-family: gotham-light;">Thank you!</h1>
        <p style="margin-top: 20px; color: white; font-size: 14px; font-family: gotham-light;">
        Thank you for your participation, we will be back soon with our analysis.
        </p>
      </div>

      

    </div>



  </body>

</html>